<!DOCTYPE html>
<html>
<head>
    <title>Express Orchids</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/orchids">Orchids</a></li>
        <li><a href="/orchids/new">Add Orchid</a></li>
    </ul>
</nav>
<%- body -%>
</body>
</html>