<form action="/orchids" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= orchid.name %>">

    <label for="img">Image Url</label>
    <input type="url" name="img" value="<%= orchid.img %>">

    <input type="submit" value="Add Orchid">
</form>