<h2><%= orchid.name %></h2>
<a href="/orchids/<%= local.id %>/edit">Edit</a>
<br>
<form action="/orchids/<%= local.id %>/delete" method="post">
    <input type="submit" value="Delete">
</form>

<img src="<%= orchid.img %>">